* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
    box-sizing: border-box;
}

body {
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 10px;
}

h2 {
    margin-top: 30px;
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
    margin-left: 20px
}

.kleurrondje {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.donkergroen {
    background-color: #28590c;
}

.normaalgroen {
    background-color: #7A9C0D;
}

.lichtgroen {
    background-color: #F3F9D9;
}

button {
    background-color: white;
    color: #28590c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: 2.5px solid #28590c;
    padding: 20px;
    margin-top: 5px;
    font-size: 20px;
}