<%- include('./partials/head') %>
<header>
    <img class="header_left_icon" src="images/dashboard_icon.png" alt="dashboard_icon">
    <h1><%- pageTitle %></h1>
    <img class="header_right_icon" src="images/dashboard_icon.png" alt="dashboard_icon">
</header>
<main id="container">
    <section class="action_plan_filter_section">
        <label for="action_plan_filter">Filter op:</label>
        <select name="action_plan_filter" id="action_plan_filter">
            <option value="alles">Alle action plans</option>
            <option value="voeding">Alleen voeding</option>
            <option value="beweging">Alleen beweging</option>
        </select>
    </section>
    <section class="action_plan action_plan_beweging">
        <img class="action_plan_image" src="images/beweging_icon.png" alt="beweging_icon">
        <h2 class="action_plan_header">Elke week 150 minuten wandelen</h2>
    </section>
    <section class="action_plan action_plan_voeding">
        <img class="action_plan_image" src="images/voeding_icon.png" alt="voeding_icon">
        <h2 class="action_plan_header">Elke dag minimaal 2 stukken fruit eten</h2>
    </section>
    <section class="action_plan action_plan_voeding">
        <img class="action_plan_image" src="images/voeding_icon.png" alt="voeding_icon">
        <h2 class="action_plan_header">Elke week minimaal 3 eieren eten</h2>
    </section>
    <section class="action_plan action_plan_beweging">
        <img class="action_plan_image" src="images/beweging_icon.png" alt="beweging_icon">
        <h2 class="action_plan_header">Elke dag 30 minuten matig intensief bewegen</h2>
    </section>
</main>
<script type="module" src='javascript/app.js'></script>

<!-- <script src="vragenlijst.js"></script>
<script src="responseExamples.js"></script>
<script src="javascript.js"></script> -->
<%- include('./partials/foot') %>