<%- include('./partials/head') %>
<header>
    <img class='logo_so_nuts' src="images/logo_so_nuts.png" alt="logo_SO-NUTS">
</header>
<h1 class="title"><%- pageTitle %></h1>
<p class="titel_tekst">Dé app voor alle 55-plussers om gezond te blijven leven!</p>
<button class="homebutton"><a href="/instructies" class="button">Start</a></button>
<%- include('./partials/foot') %>
