<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <p class="uitleg_tekst">Welkom bij SO-NUTS! De interactieve app om als 55-plusser gezonder te leven! </p>
    <p class="uitleg_tekst">Als eerste krijgt u een vragenlijst waarin er een aantal vragen worden gesteld over persoonlijke informatie (bijvoorbeeld leeftijd, lengte, gewicht, BMI en gezinssituatie).</p>
    <p class="uitleg_tekst">Hierna krijgt u twee intakelijsten. Één op het gebied van voeding en één op het gebied van sport en beweging.</p>
    <p class="uitleg_tekst">Als u alle vragenlijsten heeft ingevuld, dan komt u op uw persoonlijk ingerichte dashboard terecht met zogenaamde 'action plans'. Hier staan activiteiten die u in het dagelijks leven kunt gaan uitvoeren om nieuwe gewoontes te ontwikkelen. Uiteindelijk zult u hierdoor een gezondere levensstijl aannemen.</p>
    <p class="uitleg_tekst"><span class="info_icon">&#9432;</span> De gegevens die u in deze app invult, worden enkel gebruikt om het dashboard te genereren met gerichte adviezen over voeding en beweging.</p>
    <div class="button_div">
        <button id="button_volgende"><a href="/tussenscherm_voor_persoonlijke_vragen" class="button">Volgende</a></button>
    </div>
</main>
<%- include('./partials/foot') %>
