<%- include('./partials/head') %>
<header>
    <h1><%- pageTitle %></h1>
</header>
<main id="container">
    <p class="uitleg_tekst">Als eerste krijgt u een vragenlijst waarin er een aantal vragen worden gesteld over persoonlijke informatie (bijvoorbeeld leeftijd, lengte, gewicht, BMI en gezinssituatie).</p>
    <p class="uitleg_tekst">Hierna krijg je als gebruiker een intakelijst op het gebied van voeding en sport.</p>
    <button class="button_naar_vragenlijst"><a href="/persoonlijke_vragen" class="button">Naar vragenlijst</a></button>
</main>
<%- include('./partials/foot') %>
