<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <img src="images/onboarding_image_1.png" alt="onboarding" class="onboarding_image">
    <p class="uitleg_tekst">Met deze app houdt u uw voortgang over uw gezondheidsdoelen helemaal zelf bij!</p>
    <p class="uitleg_tekst">Met dit dashboard bepaalt u helemaal zelf welke doelen u wilt nastreven en welke nieuwe gezonde gewoontes u gaat aannemen.</p>
    <div class="button_div">
        <p></p>
        <button id="button_volgende"><a href="/onboarding_2" class="button" aria-label="Ga naar volgende pagina">Volgende</a></button>
    </div>
</main>
<%- include('./partials/foot') %>
