<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <img src="images/onboarding_image_2.png" alt="onboarding" class="onboarding_image">
    <p class="uitleg_tekst">Klik op de <span class="inline_text_icon"><img src="/images/plus_icon.png"> en de <span class="inline_text_icon"><img src="/images/min_icon.png"> knoppen om zelf uw voortgang bij te houden.</span> Ook kunt u uw resultaten van de afgelopen vier weken terugvinden.</p>
    <p class="uitleg_tekst">Met het <span class="inline_text_icon"><img src="/images/visible_icon.png"> icon kunt u de persoonlijke doelen (die we vanaf nu action plans noemen) verbergen waar u niet aan wilt werken. Deze kunt u later altijd weer terugzetten.</span></p>
    <p class="uitleg_tekst">Wilt u zien welke action plans u heeft verborgen? Dat kan met de filters bovenaan het dashboard. Ook kun je filteren op action plans gericht op voeding en op beweging.</span></p>
    <div class="button_div">
        <button id="button_vorige"><a href="/onboarding_1" class="button" aria-label="Ga terug naar vorige pagina">Ga terug</a></button>
        <button id="button_volgende"><a href="/onboarding_3" class="button" aria-label="Ga naar volgende pagina">Volgende</a></button>
    </div>
</main>
<%- include('./partials/foot') %>
