<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <img src="images/onboarding_image_3.png" alt="onboarding" class="onboarding_image">
    <p class="uitleg_tekst">Ontvang een feestelijke beloning als u een action plan heeft voltooid! </p>
    <div class="button_div">
        <button id="button_vorige"><a href="/onboarding_2" class="button" aria-label="Ga terug naar vorige pagina">Ga terug</a></button>
        <button id="button_volgende"><a href="/onboarding_4" class="button" aria-label="Ga naar volgende pagina">Volgende</a></button>
    </div>
</main>
<%- include('./partials/foot') %>
