<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div id="progress_bar"></div>
<main id="container">
    <div class="button_div">
        <button id="button_volgende"><a href="/tussenscherm_voor_vragen_voeding" class="button">Volgende</a></button>
    </div>
</main>
<script type="module" src='javascript/app.js'></script>

<!-- <script src="javascript/vragenlijst.js"></script> -->
<!-- <script src="responseExamples.js"></script> -->
<!-- <script src="javascript/javascript.js"></script> -->
<%- include('./partials/foot') %>
