<%- include('./partials/head') %>
<header>
    <h1><%- pageTitle %></h1>
</header>
<main id="container">
    <button id="button_volgende" class="button">Volgende</button>
</main>

<script src="vragenlijst.js"></script>
<script src="responseExamples.js"></script>
<script src="javascript.js"></script>
<%- include('./partials/foot') %>
