* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: var(--background_color);
    background-attachment: fixed;
}

.logo_so_nuts {
    width: 200px;
    margin: 20px auto 0;
    display: block;
    border-radius: 50%;
    opacity: 0;
    animation: showLogo 0.75s forwards 0.25s;
    animation-timing-function: linear;
}

@keyframes showLogo {
    0% {
        opacity: 0;
        transform: translateY(-120%);
    }
    70% {
        opacity: 1;
        transform: translateY(5%);
    }
    85% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.75em;
}

.header_left_icon,.header_right_icon {
    width: 30px;
    position: absolute;
    top: 20px;
}

.header_left_icon {
    left: 15px;    
}

.header_right_icon {
    right: 15px;
}

.title {
    opacity: 0;
    animation: showTekst 1s forwards 1s;
}

.titel_tekst {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: 10px 40px 0;
    font-weight: bold;
    opacity: 0;
    animation: showTekst 1s forwards 1s;
}

@keyframes showTekst {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.button {
    background-color: white;
    color: var(--main_color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: 2.5px solid var(--main_color);
}

.homebutton {
    border: none;
    margin: 0 auto;
    bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.homebutton a {
    padding: 15px 30px;
    font-size: 1.5em;
}

#progress_bar {
    background: #a0a0f1;
    height: 10px;
    position: fixed;
    top: 0;
}

.info_icon {
    color: blue;
    font-size: 1em;
    font-weight: bold;
}

/* Container */
#container {
    width: calc(100vw - 30px);
    max-width: 700px;
    min-height: calc(100vh - 100px);
    background-color: white;
    border-radius: 10px;
    animation: showContainer 1s forwards 0s;
    margin: 20px auto;
}

@keyframes showContainer {
    0% {
        margin-top: 100vh;
    }

    100% {
        margin-top: 20px;
    }
}

/* Instructies */
.uitleg_tekst {
    padding: 20px 20px 0;
    font-size: 1.2em;
}

.stappen_section {
    width: calc(100% - 40px);
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.stappen_section .stap_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100px;
    max-width: 130px;
}

.stappen_section .cirkel_stap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--vraagnummer_background_color);
    margin-top: 10px;
    position: relative;
}

.stappen_section .volgende_stap p {
    font-weight: bold;
}

.stappen_section .stap_afgerond .cirkel_stap {
    background-color: var(--background_color);
}

.stappen_section .volgende_stap .cirkel_stap {
    background-color: white;
    border: 4px solid var(--background_color);
}

.stappen_section .vragenlijst_afgerond_icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.stappen_section .stap_div:not(.stap_afgerond) .vragenlijst_afgerond_icon {
    display: none;
}

.stappen_section .stap_div:not(.laatste_cirkel_stap) .cirkel_stap::before { /* de streepjes tussen de stappen cirkels */
    content: '';
    position: absolute;
    background-color: var(--vraagnummer_background_color);
    height: 7.5px;
    top: calc(50% - 5px);
    left: 48px;
    width: 100px;
}

.stappen_section .stap_afgerond .cirkel_stap::before {
    background-color: var(--background_color);
}

.button_naar_vragenlijst {
    border: none;
    margin: 20px auto 0;
    display: block;
    background-color: white;
}

.button_naar_vragenlijst a {
    padding: 15px;
    display: block;
    margin: 20px;
    font-size: 1.5em;
}

/* Vragenlijst */

#aantal_vragen_text {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    border-bottom: 5px solid var(--bottom_border_color);
}

.vraag_container {
    margin-bottom: 5px;
    padding: 20px;
    border-bottom: 5px solid var(--bottom_border_color);
}

.vraag_nummer_en_stelling_container {
    display: flex;
}

.vraag_nummer {
    text-align: center;
    font-size: 2em;
    width: 50px;
    color: var(--main_color);
    height: 50px;
    border-radius: 50%;
    background-color: var(--vraagnummer_background_color);
    line-height: 50px;
    font-weight: bold;
}

.vraag_stelling {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    color: var(--main_color);
    width: calc(100% - 60px);
}

.antwoord_invoer_container {
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
}

.antwoord_input { /* Bij open vragen */
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    border: 1px solid var(--main_color);
    font-size: 1.3em;
    padding: 0px 10px;
    border-radius: 10px;
    color: var(--main_color);
}

.antwoord_input::placeholder,::-ms-input-placeholder {
    opacity: 1;
    font-size: 0.8em;
}

.openLabel_text {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--main_color);
}

.antwoord_optie label {
    background-color: var(--mc_answer_option_color);
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    border: 2px solid var(--main_color);
    color: var(--main_color);
}

@supports selector(.antwoord_optie input:checked+label) {
    .antwoord_optie input {
        display: none;
    }
    .antwoord_optie input:checked+label {
        background-color: var(--mc_answer_option_color_selected);
        color: white;
    }
}

.button_div {
    display: flex;
    justify-content: right;
}

#button_volgende {
    border: none;
    display: block;
    background-color: white;
}

#button_volgende a {
    padding: 15px;
    display: block;
    margin: 20px;
    font-size: 1.5em;
}

/* Dashboard */
.action_plan_filter_section {
    display: flex;
    align-items: center;
    margin: 20px;
}

.action_plan_filter_section label {
    margin: 20px 20px 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

#action_plan_filter {
    width: calc(100% - 100px);
    height: 50px;
    font-size: 1.2em;
    margin-top: 20px;
    padding-left: 5px;
    border: 2px solid var(--main_color);
    border-radius: 10px;
}


.action_plan {
    width: calc(100% - 40px);
    margin: 10px 20px;
    min-height: 200px;
    border: 2px solid var(--main_color);
    display: inline-block;
    border-radius: 10px;
}

.action_plan:first-child {
    margin-top: 20px;
}

.action_plan:last-child {
    margin-bottom: 20px;
}

.action_plan_image {
    width: 30px;
    margin: 7.5px 10px 10px;
    float: left;
}

.action_plan h2 {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
    margin: -0.5px 0 0 0;
}

.action_plan.action_plan_voeding h2 {
    background: var(--background_color_voeding);
    color: black;
}

.action_plan.action_plan_beweging h2 {
    background: var(--background_color_beweging);
}


@media (prefers-reduced-motion: reduce) {
    .logo_so_nuts,
    .title,
    .titel_tekst,
    #container {
        opacity: 1;
        transform: none;
        animation-name: none;
    }
}


.invisible {
    display: none !important;
}