* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: var(--background_color);
    background-attachment: fixed;
}

.logo_so_nuts {
    width: 200px;
    margin: 20px auto 0;
    display: block;
    border-radius: 50%;
    opacity: 0;
    animation: showLogo 0.75s forwards 0.25s;
    animation-timing-function: linear;
}

@keyframes showLogo {
    0% {
        opacity: 0;
        transform: translateY(-120%);
    }
    70% {
        opacity: 1;
        transform: translateY(5%);
    }
    85% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;   
}

.title {
    opacity: 0;
    animation: showTekst 1s forwards 1s;
}

.titel_tekst {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: 10px 40px 0;
    font-weight: bold;
    opacity: 0;
    animation: showTekst 1s forwards 1s;
}

@keyframes showTekst {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.button {
    background-color: white;
    color: var(--main_color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: 2.5px solid var(--main_color);
}

.homebutton {
    border: none;
    margin: 0 auto;
    bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.homebutton a {
    padding: 15px 30px;
    font-size: 1.5em;
}

/* Container */
#container {
    width: calc(100vw - 40px);
    max-width: 700px;
    min-height: calc(100vh - 100px);
    background-color: white;
    border-radius: 10px;
    animation: showContainer 1s forwards 0s;
    margin: 20px auto;
}

@keyframes showContainer {
    0% {
        margin-top: 100vh;
    }

    100% {
        margin-top: 20px;
    }
}

/* Instructies */
.uitleg_tekst {
    padding: 20px 20px 0;
    font-size: 1.2em;
}

.button_naar_vragenlijst {
    border: none;
    margin: 20px auto 0;
    display: block;
    background-color: white;
}

.button_naar_vragenlijst a {
    padding: 15px;
    display: block;
    margin: 20px;
    font-size: 1.5em;
}

/* Vragenlijst */

#aantal_vragen_text {
    text-align: center;
    padding: 20px 0;
    font-size: 1.3em;
    border-bottom: 5px solid var(--bottom_border_color);
}

.vraag_container {
    margin-bottom: 5px;
    padding: 20px;
    border-bottom: 5px solid var(--bottom_border_color);
}

.vraag_nummer {
    text-align: center;
    font-size: 2em;
    width: 50px;
    color: var(--main_color);
    height: 50px;
    border-radius: 50%;
    background-color: var(--vraagnummer_background_color);
    align-items: center;
    line-height: 50px;
    font-weight: bold;
}

.vraag_stelling {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
    color: var(--main_color);
}

.antwoord_invoer_container {
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
}

.antwoord_input { /* Bij open vragen */
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    border: 1px solid var(--main_color);
    font-size: 1.3em;
    padding: 0px 10px;
    border-radius: 10px;
    color: var(--main_color);
}

.antwoord_input::placeholder,::-ms-input-placeholder {
    opacity: 1;
    font-size: 0.8em;
}

.antwoord_optie label {
    background-color: var(--mc_answer_option_color);
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    border: 2px solid var(--main_color);
    color: var(--main_color);
}

@supports selector(.antwoord_optie input:checked+label) {
    .antwoord_optie input {
        display: none;
    }
    .antwoord_optie input:checked+label {
        background-color: var(--mc_answer_option_color_selected);
        color: white;
    }
}

.button_div {
    display: flex;
    justify-content: right;
}

#button_volgende {
    border: none;
    display: block;
    background-color: white;
}

#button_volgende a {
    padding: 15px;
    display: block;
    margin: 20px;
    font-size: 1.5em;
}

/* #button_vorige {
    margin-left: 20px;
}

#button_volgende {
    margin-right: 20px;
} */

.invisible {
    display: none !important;
}

@media (prefers-reduced-motion: reduce) {
    .logo_so_nuts,
    .title,
    .titel_tekst,
    #container {
        opacity: 1;
        transform: none;
        animation-name: none;
    }
}