:root {
    --mc_answer_option_color: #f4f4f4;
    --background_color: #a4ab7d;
    --main_color: #666;
    --mc_answer_option_color_selected: #a4ab7d;
    --bottom_border_color: #a4ab7d;
    --vraagnummer_background_color: #dfdfdf;
}