:root {
    --mc_answer_option_color: #f4f4f4;
    --background_color: #e3ca47;
    --main_color: #6a3e3e;
    --mc_answer_option_color_selected: rosybrown;
    --bottom_border_color: rosybrown;
    --vraagnummer_background_color: #e8ff84;
}

h1 {
    color: black !important;
}

.stappen_section .vragenlijst_afgerond_icon {
    -webkit-filter: invert(100%); /* Safari or Chrome */
    filter: invert(100%);
}